.center-child {
    width: 100%;
    justify-content: center;
}

.profile-upload {
    width: 15%;
} 

.photo-empty {
    background-color: rgb(177, 176, 176);
    width: 100%;
    padding-top: 100%;
    border-radius: 100px;
}

.profile-picture {
    width: 100%;
    border-radius: 50%
}